<h1>Formulaire loueurs :</h1>
<div class="formBloc">
    <label>Nom :</label>
    <input type="text" id="nomInput">
</div>
<div class="formBloc">
    <label>Adresse :</label>
    <input type="text" id="adresseInput">
</div>
<div class="formBloc">
    <label>Département : </label>
    <select id="departementSelect">
        <!-- options à remplir par JS -->
    </select>
</div>
<div class="formBloc">
    <label>Téléphone :</label>
    <input type="text" id="telInput">
</div>
<div class="formBloc">
    <label>Mail :</label>
    <input type="text" id="mailInput">
</div>
<div class="formBloc">
    <label>Ordre :</label>
    <input type="text" id="ordreInput">
</div>
<div class="formBloc">
    <label>Commentaire :</label>
    <textarea id="commentInput"></textarea>
</div>
<div class="formBloc">
    <button id="btnAjouter" type="submit">Ajouter</button>
</div>